---
BasedOnStyle: Google
Language: Cpp

IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2

AlignTrailingComments: true

SortIncludes: true

ColumnLimit: 100

PointerAlignment: Left

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false

AccessModifierOffset: -2

BreakBeforeBraces: Attach

# f( int a ) -> f(int a)
SpacesInParentheses: false
